body {
  margin: 0;
  padding: 0;
  font-family: "Poppins"
}



p {
  font-size: 20px
}

li {
  list-style: none;
  margin-right: 25px;
}


.menu {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
}

.a-titular {
  background: transparent;
  display: inline-block;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  border: 3px solid #40a8fa;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
}

.a-titular:hover {
  color: #ffffff;
  background-color: #40a8fa;
}

.a-servicios {
  text-decoration: none;
}

.a-servicios:hover {
  font-size: 20px;
}

.a-sobremi-menu {
  text-decoration: none;
}

.a-sobremi-menu:hover {
  font-size: 20px;
}

.a-contacto {
  text-decoration: none;
}

.a-contacto:hover {
  font-size: 20px;
}


.titular {
  text-align: center;
  margin-top: 200px;
}

h1 {
  font-size: 60px;
  margin: 0;
}

h2 {
  font-size: 25px;
  margin-bottom: 40px;
}


header {
  background: url(portada.png);
  height: 100vh;
  background-size: cover;
}

.contenedor {
  max-width: 1280px;
  width: 90%;
  margin: auto;
}

/* ARRANCA SECCION SOBRE MI */

h3 {
  text-align: center;
  font-size: 55px;
  font-weight: normal;
}

.a-sobremi {
  background: transparent;
  display: inline-block;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  border: 3px solid #40a8fa;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
}

.a-sobremi:hover {
  color: #ffffff;
  background-color: #40a8fa;
}

.contenedor-sobremi {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contenedor-parrafo-y-boton {
  width: 42%;
}

.contenedor-parrafo-y-boton p {
  font-size: 18px;
}

.parrafo-final {
  margin-bottom: 30px;
}

/*SECCION SERVICIOS*/

.contenedor-servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.servicio {
  width: 20%;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
}

.violeta {
  background: #5055df;
}

.celeste {
  background: #40a8fa;
}
.servicio h4 {
  font-size: 30px; margin: 0;
}
.servicio img {
  float: right;
}

.b img {
  margin-top: 30px;
}
.c img {
  margin-top: 175px;
}

.d img {
  margin-top: 75px;

}

.a-contacto-servicios {
  margin-left: 893px;
  margin-top: 50px;
  background: transparent;
  display: inline-block;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  border: 3px solid #40a8fa;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
}

.a-contacto-servicios:hover {
  color: #ffffff;
  background-color: #40a8fa;
}

/*Seccion de Blog*/

.contenedor-blog {
  display: flex;
  justify-content: space-around;

}

.contenedor-moonmark {
  margin-left: 40px;
  border: 5px solid #40a8fa;
}

.p-moonmark {
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff;
  background: #40a8fa;
}

.moon-mark {
  margin-bottom: 20px;
  width: 300px;
  height: 250px;
}


.a-blog {
  text-decoration: none;
}


.contenedor-KSTAR {
  margin-right: 40px;

}

/*Seccion contacto*/

.correo {
  max-width: 1200px;
  margin-left: 450px;
}

.contact-row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.funciones {
  width: 50%;

}

.left {
  float: left;
}

.right {
  float: right;

}

.funciones label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}


.contact-input {
  border: 3px solid  #5055df;
  height: 40px;
  width: 67%;
  padding-left: 10px;
  padding-right: 10px;
}


.mensaje label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

.mensaje textarea {
  border: 3px solid #5055df;
  width: 85%;
  height: 200px;
}

.text-center {
  margin-left: 490px;
}

.btn-blue {
  margin-right: 100px;
  background: transparent;
  display: inline-block;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  border: 3px solid #40a8fa;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
}

.btn-blue:hover {
  color: #ffffff;
  background-color: #40a8fa;
}
