#servicios article {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 10px;
  background: linear-gradient(to bottom right, #591fa1, #bd7fd4);
  box-shadow: 2px 2px 10px #666;
  color: #fff;
  border-radius: 15px;
}

#servicios h5 {
  font-size: 30px;
  font-weight: normal;
}

#servicios p {
  margin-top: 15px;
  font-size: 17px;
}

#servicios img {
  margin-top: 20px;
}

/*@media (min-width:768px) {
  #servicios h5 {
    font-size: 24px;
  }

  #servicios p {
  font-size: 16px;
  }

  #servicios .contenedor {
    display: flex;
  }
}*/

@media (min-width:1024px) {
  #servicios .contenedor {
    display: flex;
  }

  #servicios article {
    width: 33%;
  }

  #servicios h5 {
    font-size: 30px;
  }

  #servicios p {
    font-size: 17px;
  }

  #servicios img {
    margin-top: 20%;
  }
}

744ede
